*{
    margin:0;
    padding: 0;
    
  }
.bar{
margin-top:0;
height:70px;
background-color: #c8c8c8;
text-align: center;
font-size: 40px;
font-family: 'Bebas Neue', cursive;


}   
h1{
  font-family: 'Bebas Neue', cursive;
}    

.left{
width: 585px;
float:left;
margin-left:60px;
line-height:1.6;
  margin-top:60px;

}
.right{
width:585px;
margin-top:0;
float:left;
margin-left: 705px;
line-height:1.6;
margin-right:60px;
  position:relative;
  top:-330px;
  height:500px;
}
h2{
  font-size:50px;
  font-family: 'Bebas Neue', cursive;
}
p{
  font-family: 'Open Sans Condensed', sans-serif;
  font-size:20px;
}
.main{
  background-color: #c8c8c8;
max-height:700px;
margin-top:550px;
}
h1{
  text-align:center;
  position:relative;
  top: -300px;
}
.img{
  max-width: 150px;
  position: relative;
  top:-200px;
  margin-left:200px;
  border-radius: 30px;
  float:left;
  min-height:155px;
}
.one{
  position: relative;
  top:-50px;
  left:-145px;
  line-height: 2;
  
}
.new{
  position:relative;
  left:-900px;
  top:-200px;
  line-height:1.6;
  
}
.img2{
  max-width:150px;
  position: relative;
  top:-277px;
  margin-left:200px;
  border-radius: 30px;
  float:left;
}
.two{
  position: relative;
  top:-130px;
  left:-145px;
  line-height: 2;
}
.img3{
  max-width:150px;
  position: relative;
  top:-350px;
  border-radius: 30px;
  margin-left:200px;
  float:left;
}
.three{
  position: relative;
  top:-182px;
  left:-145px;
  line-height: 2;
}